body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1141px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.header { 
    padding-top: 50px;
    padding-bottom: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-basis: auto;
    gap: 51px;
 }
 .header-logo {
    display: block;
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .header-nav {
    display: flex;
    list-style-type: none;
    gap: 54px;
}
.header-nav a {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
    transition: 0.3s;
}
.social {
    display: flex;
    gap: 32px;
}
.social-IN {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.social-FB {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.wrapper {
    position: relative;
}
.content {
    padding-top: 196px;
}
.content-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #2B3541;
    width: 676px;
    text-transform: uppercase;
}
.content-text {
    display: flex;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    width: 341px;
}
.symbol {
    margin-top: 6px; 
}
.number {
    margin-top: 6px;
    margin-left: 9px;
}
.text {
    margin-top: 6px;
    margin-left: 22px;
}
.content-text-2 {
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    width: 300px;
    margin-top: -20px;
    margin-bottom: 56px;
    margin-left: 91px;
}
.arrow {
    background-repeat: no-repeat;
    display: block;
    margin-top: 202px;
}
.content-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2B3541;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 22px 29px;
    margin-left: 91px;
    background: #FBB731;
    border: 1px solid #FBB731;
    transition: 0.3s;
}
.visual {
    width: 100%;
    position: absolute;
    top: 0;
    right: -75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: -1;
}
.visual-gradient-left {
    width: 536px;
    background: #ff0;
    height: 850px;
 }
 .visual-gradient-right {
    width: 236px;
    background: #ff0;
    height: 850px;
 }
 .visual-img {
    position: absolute;
    display: block;
    right: -96px;
    top: 40px;
    width: 983px;
    height: 809px;
 }